<!DOCTYPE html>

<html>
   <head>
      <title>Porfolio</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div class = "container">
    <h1>API & Microservices Porfolio</h1>
    </div>
    <ul>
      <li><a href="/timestamp">Timestamp Microservice</a></li>
    </ul>
  </body>
</html>
